body {
  background-color: rgb(111, 228, 164);
  padding: 3%;
}

.meuNome, .descricao {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.descricao {
  position: absolute;
  top: 30%;
  left: 250px;
}

em {
  color: rgb(67, 138, 83);
}

.javascript {
  font-size: 20px;
}

.sql {
  font-size: 18px;
}

.react {
  font-size: 16px;
}

.bootstrap {
  font-size: 14px;
}

.metoAgil {
  font-size: 12px;
}

#foto {
  float: left;
  height: 280px;
  padding: 10px;
  background-color: aliceblue;
}

.image-container {
  height: 300px;
  position: relative;
}

/* div {
  border: 2px solid green;
} */

ul li:nth-child(odd) {
  background-color: wheat;
  width: 20%;
}